html, body {
    height: 100%;
	margin: 0px; 
	padding: 0px;
	width: 100%;
	margin:0 auto; 
    text-align:left;
}

#header {
    height:60px;
    width: 100%;
    background:#000099;
    border:1px solid #CCC;
	font-size: 15px;
	color: #FAFAFA;
	text-shadow: 0 2px 2px #0e0e0e;
	position: fixed;
	padding-left: 10px;
}

#container {
	width: 100%;
	margin:0 auto; 
    text-align:left;
}

#content{
	padding-top: 80px;
	padding-left: 10px;
}

/*.center
{
    width:100%;
    margin:0 auto; 
    text-align:left;
} */